fastapi
uvicorn[standard]
slack-sdk

langgraph
langchain
langchain-groq
langchain-core
langchain-qdrant
langchain-huggingface
langchain-text-splitters
sentence-transformers
qdrant-client
sqlalchemy
aiosqlite
asyncpg

# Document generation
python-docx

# HTTP client (for downloading Slack files)
httpx

python-dotenv
pydantic
